{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="container-fluid text-primary">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-block">
                    <div class="col-md-8 col-sm-8 col-xs-8 col-xl-8">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-center">
                                <thead class="text-white bg-primary">
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Problem</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in problems %}
                                {% for c in p.contest_info.all %}
                                <tr>
                                    <td>{{ c.contest.contest_id }}{{ c.index }}</td>
                                    <td><a href="{{ c.problem_url }}" target="_blank">{{ p.name }}</a></td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="col-md-4 col-sm-4 col-xs-4 col-xl-4">
                            <h2> Filter By</h2>
                            <div class="form-group">
                                <p><strong>Division</strong></p>
                                <select class="form-control" name="division">

                                    <option value="" selected>--------</option>
                                    {% for d in divisions %}
                                    <option value="{{ d.number }}">{{ d.name }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="form-group">
                                <p><strong>Problem Index</strong></p>
                                <select class="form-control" name="index">

                                    <option value="" selected>--------</option>
                                    {% for i in indexes %}
                                    <option value="{{ i.index }}">{{ i.index }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="form-group">
                                <p><strong>Tags</strong></p>

                                {% for t in tags %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="tags" value="{{ t.id }}">{{ t.name|title }}
                                    </label>
                                </div>
                                {% endfor %}

                            </div>

                            <button type="submit" class="btn btn-primary pull-right">
                                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                Filter
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {


    });

</script>
{% endblock %}